/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-image: url('/img/tim_header_zoomed.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  min-height: 450px;
  background-color: #030303;
  color:slategrey;
}

.heroBanner h1 {
  color: #ccc;
}

.heroBanner h1 span {
  color:mediumslateblue;
}

.heroBanner p {
  font-weight: bolder;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    align-items: center;
    text-align: center;
    background-image: none;
    min-height: 200px;
  }
}

.buttons {
  display: inline-flex;
  align-items: left;
  justify-content: left;
}

.vanity {
  display: inline-flex;
  margin: none;
  margin: 12px 0;
  max-height: 425px;
  width: auto;
  border-radius: 12px;
  opacity: 0.8;
  padding: none;
  align-content: left;
}

.bottomish {
  font-size: large;
  border-radius: 21px;
  color: #fff;
  background-color: #444;
  padding: 10px 15px;
  margin: 10px 0 10px 0;
}

[data-theme="dark"] .bottomish {
  color: #ccc;
  background-color: black;
}

.coolStory {
  font-weight: 400;
  font-style: italic;
  margin-top: .5rem;
  padding-left: 17px;
  border-left: solid 9px slateblue;
  margin-left: 5px;
  border-radius: 15px;
} 