/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-image: url('/img/tim_header_zoomed.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  min-height: 450px;
  background-color: black;
  color:slategrey;
}

.heroBanner h1 {
  color: #ccc;
}

.heroBanner h1 span {
  color:mediumslateblue;
}

.heroBanner p {
  font-weight: bolder;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    background-image: url('/img/tim_header.png');
    background-position: top left;
    color: lawngreen;
    min-height: 200px;
  }
}

.buttons {
  display: inline-flex;
  align-items: left;
  justify-content: left;
}

.vanity {
  display: inline-flex;
  margin: none;
  margin: .25rem 0 1rem 0;
  height: 425px;
  width: auto;
  border-radius: 12px;
  opacity: 0.8;
}
